@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
:root {
  --yellow: rgb(255, 238, 0);
  --red: rgb(238, 127, 127);
  --green: rgb(88, 231, 160);
  --almost-black: rgb(48, 45, 45);
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  border: 0 solid #fff;
  border-radius: 20px;
  /* background: var(--gray); */
  background: transparent;
}
